.container {
    background-color: pink;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sub-container {
    width: 25%;
    background-color: white;
    margin: auto auto;
    padding: 0.5rem 3rem;
}

.sub-person {
    display: flex;
    align-items: center;
}

.profil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 5%;
}

.profil-text {
    display: flex;
    align-items: center;
}

.birthday-button {
    width: 100%;
    padding: 4% 0;
    background-color: palevioletred;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 3px;
    margin-top: 5%;
    cursor: pointer;
    margin-bottom: 5%;
}

